<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4>Paiements</h4>
                        <div>
                            <button class="btn btn-primary me-2" (click)="downloadPaiementsPDF()">📄 Télécharger</button>
                            <button class="btn btn-success" (click)="openPaiementForm()">➕ Ajouter</button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr class="align-self-center">
                                    <th>Patient id</th>
                                    <th>Montant</th>
                                    <th>Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let paiement of paiements">
                                    <td>{{ paiement.patient?.id || 'Non attribué' }}</td>
                                    <td>{{paiement.montant}}</td>
                                    <td>{{paiement.date}}</td>
                                     <td>
                                            <button data-toggle="tooltip" title="" data-original-title="Edit" class="btn btn-warning" (click)="openPaiementForm(paiement)"><i class="fas fa-pencil-alt"></i></button>
                                            <button data-toggle="tooltip" title="" data-original-title="Delete" class="btn btn-danger btn-sm" (click)="paiement.id ? deletePaiement(paiement.id) : null"><i class="far fa-trash-alt"></i></button>
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--end table-responsive-->
                    <div class="pt-3 border-top text-right"><a href="#" class="text-primary">View all <i class="mdi mdi-arrow-right"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</div>