<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4>Paiements <span class="text-muted fw-normal ms-2">({{paiements.length}})</span></h4>
                        <div>
                            <button class="btn btn-primary me-2" (click)="downloadPaiementsPDF()">📄
                                Télécharger</button>
                            <button class="btn btn-success" (click)="openPaiementForm()">➕ Ajouter</button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr class="align-self-center">
                                    <th>Patient id</th>
                                    <th>Montant</th>
                                    <th>Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let paiement of paiements | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
                                    <td>{{ paiement.patient?.id || 'Non attribué' }}</td>
                                    <td>{{paiement.montant}}</td>
                                    <td>{{paiement.date}}</td>
                                    <td>
                                        <button data-toggle="tooltip" title="" data-original-title="Edit"
                                            class="btn btn-warning btn-sm me-3" (click)="openPaiementForm(paiement)"><i
                                                class="fas fa-pencil-alt"></i></button>
                                        <button data-toggle="tooltip" title="" data-original-title="Delete"
                                            class="btn btn-danger btn-sm"
                                            (click)="paiement.id ? deletePaiement(paiement.id) : null"><i
                                                class="far fa-trash-alt"></i></button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Pagination Controls -->
                    <div class="d-flex justify-content-between align-items-center mt-1">
                        <p class="mb-0">
                            Affichage de {{ (currentPage - 1) * itemsPerPage + 1 }} à {{ Math.min(currentPage *
                            itemsPerPage, paiements.length) }}
                            sur {{ paiements.length }} utilisateurs
                        </p>
                        <pagination-controls (pageChange)="currentPage = $event"
                            class="pagination justify-content-end"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>