
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>Fiche Medicale</h4>
                </div>
    
                <div class="col-md-6">
                    <div class="flex-wrap align-items-center justify-content-end gap-2 mb-3">
                        <button class="btn btn-success mb-3" (click)="openMedicalRecordForm()">➕ Ajouter</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive" id="proTeamScroll" tabindex="2" style="height: 400px; overflow: hidden; outline: none;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Patient id</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  *ngFor="let fiche of fiches">
                                    <td class="table-img">{{ fiche.patient?.id || 'Non attribué' }}</td>
                                    <td>{{fiche.description}}</td>

                                    <td>
                                        <button data-toggle="tooltip" title="" data-original-title="Edit" class="btn btn-warning" (click)="openMedicalRecordForm(fiche)"><i class="fas fa-pencil-alt"></i></button>
                                        <button data-toggle="tooltip" title="" data-original-title="Delete" class="btn btn-danger btn-sm" (click)="fiche.id ? deleteFiche(fiche.id) : null"><i class="far fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>